*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.word{
    font-size: 350px;
    color: blue;
}
.div{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}